@font-face {
  font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: "imgur";
    src: url(VAG_Rounded_Black.ttf) format("truetype");
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans';
  height: 100%;
  border: 0;
  background-color: #9ab7d3;
  color: #847f87;
  font-size: 12px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}


.imgur {
  display: grid;
  grid-template-columns:1fr 40px 1000px 40px 1fr;
  grid-template-rows: 50px 50px 60px 1fr 40px 100px;
  height: 100%;
  margin: 0;
  border: 0;
  color: white;
  background-color: #dec0bb;
  border-radius: 20px;
}
p.greeting {

  font-size: 25px;
}

span {
  font-size: 15px;
  color: grey;
}

.navbar{

  grid-row: 1 / 2;
  grid-column: 1 / -1;
  border: none;
  border-width: 0;
  box-shadow: none;
  width: 100%;
  background-color: #9ab7d3;
  height: 50px;
  z-index: 500;
  position: fixed;
  top: 0;


}

div.leftbar{
  grid-row: 1 / 2;
  grid-column: 2 /3;
  width: 275px;
  float:left;
  z-index: auto;
  overflow: auto;
  background-color: #9ab7d3;
}

div.logo {
  font-family: "imgur";
  font-size: 30px;
  grid-row: 1 / 2;
  grid-column: 2 /3;
  width: 170px;
  text-align: center;
  float:left;
  z-index: auto;
  border-radius: 20px;
  margin: 4px;
  background-color: #bdd0c4;
  border-color: #bdd0c4;
}

div.logo:hover {

  background-color: #dfccf1;
  border-color: #dfccf1;
  border-radius: 20px;
  margin: 4px;

}

div.newpost {

  text-align: center;
  float: right;
  z-index: auto;
  border-radius: 20px;
  padding: 10px;
  margin: 4px;


}

div.newpost:hover {

  background-color: #dfccf1;
  border-color: #dfccf1;
  border-radius: 20px;
  padding: 10px;
  margin: 4px;

}



div.rightbar{
  grid-row: 1 / 2;
  grid-column: 3 / -1;
  width: 250px;
  float:right;
  background-color: #9ab7d3;
  z-index: auto;

}

.magnify {

  text-align: center;
  float: left;
  z-index: auto;

  border-radius: 20px;
  padding: 10px;
  margin: 4px;

}

.magnify:hover {

  background-color: #dfccf1;
  border-color: #dfccf1;
  border-radius: 20px;
  padding: 10px;
  margin: 4px;

}

div.navright{
  grid-row: 1 / 2;
  grid-column: 3 / -1;
  width: 80px;
  text-align: center;
  float:left;
  z-index: auto;
  padding: 10px;
  margin: 4px;
}

div.navright:hover {

  background-color: #dfccf1;
  border-color: #dfccf1;
  border-radius: 20px;
  padding: 10px;
  margin: 4px;

}

div.nextright{
  grid-row: 1 / 2;
  grid-column: 4 / -1;
  width: 200px;
  text-align: center;
  float:right;
  overflow: auto;
  z-index: auto;
  margin: 4px;
}

div.nextright:hover {

  background-color: #dfccf1;
  border-color: #dfccf1;
  border-radius: 20px;
  /* padding: 10px;*/
  margin: 4px;

}

.leftpane{
  z-index: 100;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  background-color: #dec0bb;
}

.rightpane{
  z-index: 100;
  grid-row: 1 / -1;
  grid-column: 5 / -1;
  background-color: #dec0bb;
}

/* .container {


} */

div.textcontainer{
  z-index: 301;
  grid-row: 2 / 4;
  grid-column: 2 / 5;
  text-align: center;
  background-color: #dec0bb;

}
div.mainarea{

  grid-row: 4 / -1;
  grid-column: 3 / 4;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(5, [col] 1fr);
  grid-template-rows: repeat(3, [col] 1fr);
  background-color: #;
  padding: 21px;
  border-radius: 20px;
}

.grid {
  z-index: 3;

  /* grid-row: 1 / 2;
  grid-column: 1 / 2; */
    margin: 7px;
    padding: 7px;
    border-radius: 3px;
}

.grid-tlc {
  z-index: 3;

  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 7px;
    border-radius: 3px;
}

.grid-tc {
  z-index: 3;

  grid-row: 1 / 2;
  grid-column: 3 / 4;
  margin: 7px;
    border-radius: 3px;
}

.grid-trc {
  z-index: 3;

  grid-row: 1 / 2;
  grid-column: 4 / 5;
  margin: 7px;
    border-radius: 3px;
}

.grid-tr {
  z-index: 3;

  grid-row: 1 / 2;
  grid-column: 5 / 6;
  margin: 7px;
    border-radius: 3px;
}

.grid-ml {
  z-index: 3;

  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin: 7px;
    border-radius: 3px;
}

.grid-mlc {
  z-index: 3;

  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 7px;
    border-radius: 3px;
}

.grid-mc {
  z-index: 3;

  grid-row: 2 / 3;
  grid-column: 3 / 4;
  margin: 7px;
    border-radius: 3px;
}

.grid-mrc {
  z-index: 3;

  grid-row: 2 / 3;
  grid-column: 4 / 5;
  margin: 7px;
    border-radius: 3px;
}

.grid-mr {
  z-index: 3;

  grid-row: 2 / 3;
  grid-column: 5 / 6;
  margin: 7px;
    border-radius: 3px;
}
.grid-bl {
  z-index: 3;

  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin: 7px;
    border-radius: 3px;
}

.grid-blc {
  z-index: 3;

  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin: 7px;
    border-radius: 3px;
}

.grid-bc {
  z-index: 3;

  grid-row: 3 / 4;
  grid-column: 3 / 4;
  margin: 7px;
    border-radius: 3px;
}

.grid-brc {
  z-index: 3;

  grid-row: 3 / 4;
  grid-column: 4 / 5;
  margin: 7px;
    border-radius: 3px;
}

.grid-br {
  z-index: 3;

  grid-row: 3 / 4;
  grid-column: 5 / 6;
  margin: 7px;
    border-radius: 3px;
}
